@charset "utf-8";
@media (max-width: 999px) {
    body {
        font-family: "fantasy";
        color: #000;
        line-height: 1.3;
        letter-spacing: 0.01em;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        word-break: break-all;
        overflow-x: hidden;
    }
    .mainbody {
        text-align: center;
        line-height: 5.5vw;
        letter-spacing: 0.08vw;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    span {
        margin: 0%;
        padding: 0%;
    }
    h2 {
        font-size: 5vw;
    }
    h3 {
        font-size: 3vw;
    }
    p {
        font-size: 3vw;
    }
    //ヘッダーcss
    .header{
    z-index: 900;
    position: fixed;
    width: 100%;
    height: 12vw;
    transition: 1s all cubic-bezier(0.39, 0.575, 0.565, 1);
    & a{
        color: white;
        text-decoration: none;
    }
    & .header__title{
        position: absolute;
        font-size: 6vw;
        left: 27%;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
     
    & .header__nav-button{
        width: 10vw;
        height: 10vw;
        position: absolute;
        right: 5%;
        top: 8%;
        z-index: 1000;
      //3本線
    & span{
      height: 1px;
      background-color: white;
      width: 100%;
      display: block;
      transition: all 0.3s;
      &:nth-child(1){
          margin-top: 1vw;
        margin-bottom: 3.5vw ;
      }
      &:nth-child(2){
        margin-bottom: 3.5vw ;
      }
    }
    }
    
//ボタンクリック後にする動き
    & .navbutton{
      & .header__nav-button{
      & span{
        background-color: #000;
        margin: 0 !important;
        &:nth-child(1){
            transition-delay: 0ms !important;
            transform: translateY(20px) rotate(135deg) !important;
        }
        &:nth-child(2){
            transition-delay: 0s !important;
            transform:  translateX(18px) scale(0) !important;
        }
        &:nth-child(3){
            transition-delay: 140ms !important;
            transform: translateY(18px) rotate(405deg) !important;
        }
      }
    }

    & .header__list-box{
      display: block;
      animation: opacity-animation 1.0s  ease;
    }
    @keyframes opacity-animation{
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
      }
    }
  
//ここまで
    & .header__list-box{
      display: none;
      z-index: 998;
      width: 100%;
      height: 100vh;
      background-color: white;
      position: absolute;
    }
    & .header__list{
         width: 50vw;
         height: 90vw;
         position: absolute;
         top: 40%;
         left: 50%;
         transform: translateY(-50%) translateX(-50%);
         list-style: none;
        & li{
          text-align: center;
          margin-top: 10vw;
          font-size: 5vw;
          &:nth-child(1){
              font-size: 9vw;
          }
        }
        & a{
          color: #000;
        }
    }
    & .header__list--icon{
        display: none;
    }

    //トップに戻るボタン。。プラグイン使用。
  //npm install --save vue-scrolltoコマンドでインストール
  & .header__jump-button{
      position: fixed;
      bottom: 1%;
      right: 1%;
      width: 10vw;
      height: 10vw;
      background-color: white;
      border-radius: 50%;
      transition: all 1s;
      opacity: 0;
      & span{
        display: inline-block;
        width: 9vw;
        height: 9vw;
        background-image: url(./img/img-gotop.png);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 0.5vw;
        left: 0.5vw;
        border-radius: 50%;
        }
      }
    }
    //トップ title css
    #section1{
    width: 100%;
    height: 100vh;
    background-image: url(./img/img-top-sp.jpeg);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    & .section1__titlebox{
        width: 50vw;
        height: 11vw;
        position: absolute;
        top: 27vw;
        left: 7vw;
    }
    & .section1__title{
        position: absolute;
        top: 1.5vw;
        font-size: 6vw;
        color: white;
        left: 3%;
    }
    & .section1__underline {
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: white;
        top: 7vw;
    }
    & .section1__text {
        position: absolute;
        font-size: 3vw;
        color: white;
        bottom: -1vw;
        left: 2.5vw;
    }
    //マウススクロールcss
    & .section1__mousebox {
        position: absolute;
        width: 8%;
        height: 30vw;
        top: 28vw;
        left: 63%;
    }
    & .section1__line {
        position: absolute;
        width: 1px;
        height: 21vw;
        left: 49%;
        background-color: white;
        top: 0vw;
      }
      & .section1__mouseicon {
        position: absolute;
        width: 155%;
        height: 30%;
        bottom: 0%;
        left: -6%;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(./img/img-mouse-icon.png);
    }
    }

    //サービス内容css
    #section2 {
        display: inline-block;
        position: relative;
        width: 100%;
        max-width: 1200px;
        height: 300vw;
        //最初のタイトルとサービス説明css
        & .section2__title {
            padding-top: 10vw;
            height: 14.5vw;
        }
        & .section2__subtitle {
            height: 4vw;
        }
        & .section2__Brief-introduction {
            padding-top: 7vw;
            height: 50vw;
        }
        //お問い合わせリンク
        & .section2__Contact-Us-box {
            width: 100%;
            height: 10.5vw;
            text-align: center;
            margin-top: 6vw;
            & .section2__Contact-Us-text {
                width: 34%;
                height: 100%;
                display: inline-block;
                background-color: #555;
                position: relative;
            }
            & a {
                width: 100%;
                text-decoration: none;
                color: white;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
            }
        }

        //サービス内容大箱
        & .section2__service-Contents {
            width: 100%;
            height: 200vw;
            padding: 15vw 26vw 0%;
            display: inline-flex;
            justify-content: center;
            flex-direction: column;
        }
        //サービス内容box3つのcss
        & .section2__service-Contents--box1 {
            width: 100%;
            height: 100%;
            display: inline-block;
            & .section2__service-Contents--icon1 {
                width: 20vw;
                height: 20vw;
                background-image: url(./img/img-service1.png);
                background-repeat: no-repeat;
                background-size: contain;
                display: inline-block;
            }
            & .section2__service-Contents--text1 {
                width: 90%;
                display: inline-block;
            }
        }
        & .section2__service-Contents--box2 {
            width: 100%;
            height: 100%;
            display: inline-block;
            & .section2__service-Contents--icon2 {
                width: 20vw;
                height: 20vw;
                background-image: url(./img/img-service2.png);
                background-repeat: no-repeat;
                background-size: contain;
                display: inline-block;
            }
            & .section2__service-Contents--text2 {
                width: 90%;
                display: inline-block;
            }
        }
        & .section2__service-Contents--box3 {
            width: 100%;
            height: 100%;
            display: inline-block;
            & .section2__service-Contents--icon3 {
                width: 20vw;
                height: 20vw;
                background-image: url(./img/img-service3.png);
                background-repeat: no-repeat;
                background-size: contain;
                display: inline-block;
            }
            & .section2__service-Contents--text3 {
                width: 90%;
                display: inline-block;
            }
        }

        //サービス内容詳細のリンク
        & .section2__service-link-box {
            width: 100%;
            height: 11vw;
            text-align: center;
            & .section2__service-link-text {
                width: 34%;
                height: 100%;
                display: inline-block;
                background-color: #555;
                position: relative;
            }
            & a {
                width: 100%;
                text-decoration: none;
                color: white;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
            }
        }
    }

    //事業内容
    #section3 {
        width: 100%;
        height: 85vw;
        margin: 4.5vw 0;
        position: relative;
        & .section3__box {
            background-color: #2b7270;
            width: 100%;
            height: 100%;
            transform: skewY(5deg);
        }
        & .section3__title {
            height: 6vw;
            padding-top: 1vw;
            position: absolute;
            top: 21%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            color: white;
        }
        & .section3__sub-title {
            height: 5vw;
            position: absolute;
            top: 27%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            color: white;
        }
        & .section3__text--1 {
            height: 5vw;
            position: absolute;
            top: 39%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            color: white;
        }
        & .section3__text--2 {
            height: 5vw;
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            color: white;
        }
        & .section3__text--3 {
            height: 5vw;
            position: absolute;
            top: 51%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            color: white;
        }
        & .section3__text--4 {
            height: 5vw;
            position: absolute;
            top: 57%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            color: white;
        }
        & .section3__link-box {
            position: absolute;
            height: 11vw;
            width: 164vw;
            max-width: 1200px;
            top: 78%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            text-align: center;
        }
        & .section3__link-text {
            width: 20%;
            height: 100%;
            background-color: #555;
            display: inline-block;
            position: relative;
            & a {
                position: absolute;
                text-decoration: none;
                color: white;
                top: 50%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
            }
        }
    }

    //仕事実績
    #section4 {
        width: 100%;
        height: 100vw;
        position: relative;
        & .section4__title {
            height: 6vw;
            padding-top: 1vw;
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            color: black;
        }
        & .section4__sub-title {
            height: 4vw;
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            color: black;
        }
    }

    //お問い合わせ
    #section5 {
        width: 100%;
        height: 280vw;
        margin: 4.5vw 0;
        position: relative;
        & .section5__box {
            background-color: #2b7270;
            width: 100%;
            height: 100%;
            transform: skewY(-5deg);
        }
        & .section5__title {
            height: 6vw;
            padding-top: 1vw;
            position: absolute;
            top: 5%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            color: white;
        }
        & .section5__sub-title {
            height: 5vw;
            position: absolute;
            top: 9%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            color: white;
        }
        & .section5__contact-box{
            display: inline-block;
            position: absolute;
            top: 53%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            text-align: left;
            /* デザインカスタマイズ */
            div.wpcf7 {  
                padding:0px; 
                -moz-border-radius:10px; 
                -khtml-border-radius:10px; 
                -webkit-border-radius:10px; 
                border-radius:10px; 
                margin:0 0 30px 0; 
            }
            div.wpcf7 p { 
                color: white; 
                padding:20px 40px 0; 
                margin:0; 
                font-size:2vw; 
            }
            div.wpcf7 input, .wpcf7 textarea { 
                border:1px solid white; 
                padding:8px; 
                font-size:14px; 
                color: white;
            }
            div.wpcf7 textarea { 
                width:97.5%; 
                height:300px;
                color: white; 
            }
            div.wpcf7 input.wpcf7-submit {
               cursor:pointer; 
               color:#fff; 
               font-weight:bold; 
               font-size:14px; 
               width:200px; 
               height:45px; 
               margin:0 auto; 
               display:block;
               border-radius:5px;
               background:#333; 
               box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5), inset 0px 32px 0px -12px #808080; 
               border:1px solid #666;
            }
            div.wpcf7 input.wpcf7-submit:hover { 
                background:#006080; 
                box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5), inset 0px 32px 0px -12px #007ea8; 
                border:1px solid #006080; 
            }
            .wpcf7 input.wpcf7-submit:active { 
                box-shadow:none; 
                bottom:-2px; 
                position:relative; 
            }
            .wpcf7 input:focus, .wpcf7 textarea:focus { 
                border:1px solid #009de1; }
            .wpcf7-captchac { 
                border:1px solid white; 
            }
             
             
            /* エラー個所をわかりやすく表示 */
            .wpcf7 .wpcf7-not-valid { 
                background: #ffb6c1; 
            }
            .wpcf7 span.wpcf7-not-valid-tip {
                font-size: 80%;
            }
            .wpcf7 .wpcf7-response-output {
                text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); 
                border-color: white;
                color: white;
                border-radius: 4px; }
            .wpcf7 .wpcf7-validation-errors {
                color: #B94A48; 
                background-color: #F2DEDE; 
                border: 1px solid #EED3D7;}
            .wpcf7 .wpcf7-mail-sent-ok {
                color: #3A87AD; 
                background-color: #D9EDF7; 
                border: 1px solid #BCE8F1;}
             
            /* 必須赤色表示 */
            .wpcf7 .required { color: #f00;}
            /* 任意緑色表示 */
            .wpcf7 .any{ color: #080;}
          }
    }

    //お知らせ
    #section6 {
        display: inline-block;
        position: relative;
        width: 100%;
        max-width: 1200px;
        height: 85vw;
        & .section6__title {
            padding-top: 4vw;
            height: 9vw;
        }
        & .section6__subtitle {
            height: 5vw;
        }
        & .section6__notification-box {
            font-size: 4vw;
            overflow: auto;
            width: 90vw;
            height: 60vw;
            padding: 1vw;
            margin-top: 5vw;
            color: black;
            background-color: white;
            line-height: 1.5em;
            text-align: center;
            display: inline-block;
            border-bottom: 1px solid #555;
            border-top: 1px solid #555;
        }
    }

    //事業内容の詳細ページのcss
    #section7 {
        width: 100%;
        height: 160vw;
        background-image: url(./img/img-about-top.jpg);
        background-repeat: no-repeat;
        position: relative;
        background-size: cover;
        background-position: center left 40%;
    }
    //事業内容の詳細css-2
    #section8 {
        display: inline-block;
        position: relative;
        width: 100%;
        max-width: 1200px;
        height: 270vw;
        //最初のタイトルとサービス説明css
        & .section8__title {
            padding-top: 4vw;
            height: 6vw;
        }
        //メッセージcss
        & .section8__message {
            padding-top: 2vw;
            height: 6vw;
        }
        & .section8__profile-box {
            width: 100%;
            height: 120vw;
            margin-top: 1vw;
        }
        & .section8__profile-img--box {
            width: 1000%;
            height: 50%;
            position: relative;
        }
        & .section8__profile-img {
            width: 45vw;
            height: 45vw;
            background-image: url(./img/img-profile.JPG);
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center left 75%;
            position: absolute;
            top: 50%;
            left: 5%;
            border-radius: 50%;
            transform: translateY(-50%) translateX(-50%) rotate(15deg);
        }
        & .section8__profile--text {
            width: 100%;
            height: 50%;
            text-align: center;
            padding: 0 10vw;
        }
        & .section8__Business-content {
            height: 2vw;
            margin-top: 3vw;
        }
        & .section8__Business-content-box {
            border-bottom: 1.5px dashed #555;
            border-top: 1.5px dashed #555;
            height: 113vw;
            width: 100%;
            max-width: 950px;
            margin-top: 3vw;
            display: inline-block;
            position: relative;
            & .section8__Business-content-box--text1 {
                position: absolute;
                bottom: 3%;
                left: 3%;
            }
            & .section8__Business-content-box--text2 {
                position: absolute;
                bottom: 3.5%;
                left: 42%;
            }
        }

        & .section8__Business-content-box1 {
            border-bottom: 1.5px dashed #555;
            height: 15vw;
            width: 100%;
            display: inline-block;
            position: relative;
            & .section8__Business-content-box1--text1 {
                position: absolute;
                bottom: 27%;
                left: 3%;
            }
            & .section8__Business-content-box1--text2 {
                position: absolute;
                bottom: 27%;
                left: 42%;
            }
        }
        & .section8__Business-content-box2 {
            border-bottom: 1.5px dashed #555;
            height: 15vw;
            width: 100%;
            display: inline-block;
            position: relative;
            & .section8__Business-content-box2--text1 {
                position: absolute;
                bottom: 27%;
                left: 3%;
            }
            & .section8__Business-content-box2--text2 {
                position: absolute;
                bottom: 27%;
                left: 42%;
            }
        }
        & .section8__Business-content-box3 {
            border-bottom: 1.5px dashed #555;
            height: 15vw;
            width: 100%;
            display: inline-block;
            position: relative;
            & .section8__Business-content-box3--text1 {
                position: absolute;
                bottom: 27%;
                left: 3%;
            }
            & .section8__Business-content-box3--text2 {
                position: absolute;
                bottom: 50%;
                left: 42%;
            }
            & .section8__Business-content-box3--text3 {
                position: absolute;
                bottom: 10%;
                left: 42%;
            }
        }
        & .section8__Business-content-box4 {
            border-bottom: 1.5px dashed #555;
            height: 15vw;
            width: 100%;
            display: inline-block;
            position: relative;
            & .section8__Business-content-box4--text1 {
                position: absolute;
                bottom: 27%;
                left: 3%;
            }
            & .section8__Business-content-box4--text2 {
                position: absolute;
                bottom: 50%;
                left: 42%;
            }
            & .section8__Business-content-box4--text3 {
                position: absolute;
                bottom: 10%;
                left: 42%;
            }
        }
        & .section8__Business-content-box5 {
            border-bottom: 1.5px dashed #555;
            height: 15vw;
            width: 100%;
            display: inline-block;
            position: relative;
            & .section8__Business-content-box5--text1 {
                position: absolute;
                bottom: 27%;
                left: 3%;
            }
            & .section8__Business-content-box5--text2 {
                position: absolute;
                bottom: 50%;
                left: 42%;
            }
            & .section8__Business-content-box5--text3 {
                position: absolute;
                bottom: 10%;
                left: 42%;
            }
        }
        & .section8__Business-content-box6 {
            border-bottom: 1.5px dashed #555;
            height: 15vw;
            width: 100%;
            display: inline-block;
            position: relative;
            & .section8__Business-content-box6--text1 {
                position: absolute;
                bottom: 27%;
                left: 3%;
            }
            & .section8__Business-content-box6--text2 {
                position: absolute;
                bottom: 27%;
                left: 42%;
            }
        }
    }

    //お問い合わせ
    #section9 {
        width: 100%;
        height: 160vw;
        background-image: url(./img/img-contact.jpg);
        background-repeat: no-repeat;
        position: relative;
        background-size: cover;
        background-position: center left 40%;
    }

    //お問い合わせtitleとフォーム
    #section10 {
        display: inline-block;
        position: relative;
        width: 100%;
        max-width: 1200px;
        height: 50vw;
        & .section10__title {
            padding-top: 4vw;
            height: 9vw;
        }
        & .section10__subtitle {
            height: 2vw;
        }
        & .section10__text {
            padding-top: 10vw;
            height: 40vw;
            width: 62vw;
            display: inline-block;
        }
    }

    //contact7お問い合わせフォーム内容
    .section11 {
        width: 100%;
        display: inline-block;
        /* デザインカスタマイズ */
        div.wpcf7 {  padding:0px; -moz-border-radius:10px; -khtml-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; margin:0 0 30px 0; }
        div.wpcf7 p { padding:20px 20px 0; margin:0; font-size:11px; }
        div.wpcf7 input, .wpcf7 textarea { border:1px solid #ccc; padding:8px; font-size:14px; }
        div.wpcf7 textarea { width:97.5%; height:300px; }
        div.wpcf7 input.wpcf7-submit {
           cursor:pointer; color:#fff; font-weight:bold; font-size:14px; width:200px; height:45px; margin:0 auto; display:block;
           -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
           background:#333; box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5), inset 0px 32px 0px -12px #808080; border:1px solid #666;
        }
        div.wpcf7 input.wpcf7-submit:hover { background:#006080; box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5), inset 0px 32px 0px -12px #007ea8; border:1px solid #006080; }
        .wpcf7 input.wpcf7-submit:active { box-shadow:none; bottom:-2px; position:relative; }
        .wpcf7 input:focus, .wpcf7 textarea:focus { border:1px solid #009de1; }
        .wpcf7-captchac { border:1px solid #ccc; }
         
         
        /* エラー個所をわかりやすく表示 */
        .wpcf7 .wpcf7-not-valid { background: #ffb6c1; }
        .wpcf7 span.wpcf7-not-valid-tip {font-size: 80%;}
        .wpcf7 .wpcf7-response-output {margin: 10px 0 0; padding: 8px 35px 8px 14px; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
            -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
        .wpcf7 .wpcf7-validation-errors {color: #B94A48; background-color: #F2DEDE; border: 1px solid #EED3D7;}
        .wpcf7 .wpcf7-mail-sent-ok {color: #3A87AD; background-color: #D9EDF7; border: 1px solid #BCE8F1;}
         
        /* 必須赤色表示 */
        .wpcf7 .required { color: #f00;}
        /* 任意緑色表示 */
        .wpcf7 .any{ color: #080;}
      }
    //フッターcss
    #footer {
        position: relative;
        width: 100%;
        height: 11vh;
        background-color: #2b7270;
        & .footer__box {
            position: absolute;
            width: 100%;
            height: 40%;
            top: 30%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
        }
        & .footer__list {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        & li {
            font-size: 3.2vw;
            list-style: none;
            &:nth-child(1) {
                margin-right: 15%;
            }
            &:nth-child(3) {
                margin-left: 15%;
            }
            &:nth-child(4) {
                margin-left: 15%;
            }
        }
        & a {
            text-decoration: none;
            color: white;
        }
        & .footer__copyright {
            color: white;
            position: absolute;
            top: 80%;
            width: 50%;
            font-size: 3vw;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
        }
    }
}
