@charset "utf-8";
@media (max-width: 450px){
    body {
        font-family: "fantasy";
        color: #000;
        line-height: 1.3;
        letter-spacing: 0.01em;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        word-break: break-all;
        overflow-x: hidden;
    }
    #mainbody {
        text-align: center;
        line-height: 5.5vw;
        letter-spacing: 0.08vw;
    }
    h1,
  h2,
  h3,
  h4,
  h5,
  p,
  span {
    margin: 0%;
    padding: 0%;
  }
  h2 {
    font-size: 5vw;
  }
  h3 {
    font-size: 3vw;
  }
  p {
    font-size: 3vw;
  }
  //ヘッダーcss
  #header{
      z-index: 900;
      position: fixed;
      width: 100%;
      height: 10vw;
      margin-top: 2vw;
      & a{
          color: white;
          text-decoration: none;
      }
      & .header__title{
          position: absolute;
          font-size: 6vw;
          left: 27%;
          top: 50%;
          transform: translateY(-50%) translateX(-50%);
      }
      & .header__nav-button{
          width: 10vw;
          height: 100%;
          position: absolute;
          right: 5%;
          z-index: 1000;
      }
      //3本線
      & span{
          height: 1px;
          background-color: white;
          width: 100%;
          display: block;
          &:nth-child(1){
              margin-top: 1vw;
            margin-bottom: 3.5vw ;
          }
          &:nth-child(2){
            margin-bottom: 3.5vw ;
          }
      }

      & .header__list-box{
        display: none;
        z-index: 998;
        width: 100%;
        height: 100vh;
        background-color: white;
        position: absolute;
      }
      & .header__list{
           width: 50vw;
           height: 90vw;
           position: absolute;
           top: 40%;
           left: 50%;
           transform: translateY(-50%) translateX(-50%);
           list-style: none;
          & li{
            text-align: center;
            margin-top: 10vw;
            font-size: 5vw;
            &:nth-child(1){
                font-size: 9vw;
            }
          }
          & a{
            color: #000;
          }
      }
      & .header__list--icon{
          display: none;
      }
  }
  //トップ title css
  #section1{
    width: 100%;
    height: 100vh;
    background-image: url(./img/img-top-sp.jpeg);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    & .section1__titlebox{
        width: 50vw;
        height: 11vw;
        position: absolute;
        top: 27vw;
        left: 7vw;
    }
    & .section1__title{
        position: absolute;
        top: 0%;
        font-size: 6vw;
        color: white;
        left: 3%;
    }
    & .section1__underline {
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: white;
        top: 61%;
    }
    & .section1__text {
        position: absolute;
        font-size: 3vw;
        color: white;
        bottom: 2%;
        left: 10%;
    }
    //マウススクロールcss
    & .section1__mousebox {
        position: absolute;
        width: 8%;
        height: 30vw;
        top: 28vw;
        left: 63%;
    }
    & .section1__line {
        position: absolute;
        width: 1px;
        height: 21vw;
        left: 49%;
        background-color: white;
        top: 0vw;
      }
      & .section1__mouseicon {
        position: absolute;
        width: 155%;
        height: 30%;
        bottom: 0%;
        left: -6%;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(./img/img-mouse-icon.png);
      }
  }

  //サービス内容css
  #section2 {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: 300vw;
    //最初のタイトルとサービス説明css
    & .section2__title {
      padding-top: 10vw;
      height: 14.5vw;
    }
    & .section2__subtitle {
      height: 4vw;
    }
    & .section2__Brief-introduction {
      padding-top: 7vw;
      height: 50vw;
    }
    //お問い合わせリンク
    & .section2__Contact-Us-box {
      width: 100%;
      height: 10.5vw;
      text-align: center;
      margin-top: 6vw;
      & .section2__Contact-Us-text {
        width: 34%;
        height: 100%;
        display: inline-block;
        background-color: #555;
        position: relative;
      }
      & a {
        width: 100%;
        text-decoration: none;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
      }
    }

    //サービス内容大箱
    & .section2__service-Contents {
        width: 100%;
        height: 200vw;
        padding: 15vw 26vw 0%;
        display: inline-flex;
        justify-content: center;
        flex-direction: column;
      }
      //サービス内容box3つのcss
      & .section2__service-Contents--box1 {
        width: 100%;
        height: 100%;
        display: inline-block;
        & .section2__service-Contents--icon1 {
          width: 14vw;
          height: 15vw;
          background-image: url(./img/img-service1.png);
          background-repeat: no-repeat;
          background-size: contain;
          display: inline-block;
        }
        & .section2__service-Contents--text1 {
          width: 90%;
          display: inline-block;
        }
      }
      & .section2__service-Contents--box2 {
        width: 100%;
        height: 100%;
        display: inline-block;
        & .section2__service-Contents--icon2 {
          width: 14vw;
          height: 15vw;
          background-image: url(./img/img-service2.png);
          background-repeat: no-repeat;
          background-size: contain;
          display: inline-block;
        }
        & .section2__service-Contents--text2 {
          width: 90%;
          display: inline-block;
        }
      }
      & .section2__service-Contents--box3 {
        width: 100%;
        height: 100%;
        display: inline-block;
        & .section2__service-Contents--icon3 {
          width: 14vw;
          height: 15vw;
          background-image: url(./img/img-service3.png);
          background-repeat: no-repeat;
          background-size: contain;
          display: inline-block;
        }
        & .section2__service-Contents--text3 {
          width: 90%;
          display: inline-block;
        }
      }
  
      //サービス内容詳細のリンク
      & .section2__service-link-box {
        width: 100%;
        height: 11vw;
        text-align: center;
        & .section2__service-link-text {
          width: 34%;
          height: 100%;
          display: inline-block;
          background-color: #555;
          position: relative;
        }
        & a {
          width: 100%;
          text-decoration: none;
          color: white;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
        }
        }
    }

    //事業内容
  #section3 {
    width: 100%;
    height: 85vw;
    margin: 4.5vw 0;
    position: relative;
    & .section3__box {
      background-color: #2b7270;
      width: 100%;
      height: 100%;
      transform: skewY(5deg);
    }
    & .section3__title {
      height: 6vw;
      padding-top: 1vw;
      position: absolute;
      top: 21%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      color: white;
    }
    & .section3__sub-title {
      height: 5vw;
      position: absolute;
      top: 27%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      color: white;
    }
    & .section3__text--1 {
      height: 5vw;
      position: absolute;
      top: 39%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      color: white;
    }
    & .section3__text--2 {
      height: 5vw;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      color: white;
    }
    & .section3__text--3 {
      height: 5vw;
      position: absolute;
      top: 51%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      color: white;
    }
    & .section3__text--4 {
      height: 5vw;
      position: absolute;
      top: 57%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      color: white;
    }
    & .section3__link-box {
      position: absolute;
      height: 11vw;
      width: 164vw;
      max-width: 1200px;
      top: 78%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      text-align: center;
    }
    & .section3__link-text {
      width: 20%;
      height: 100%;
      background-color: #555;
      display: inline-block;
      position: relative;
      & a {
        position: absolute;
        text-decoration: none;
        color: white;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
      }
    }
  }
    
  //仕事実績
  #section4 {
    width: 100%;
    height: 100vw;
    position: relative;
    & .section4__title {
      height: 6vw;
      padding-top: 1vw;
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      color: black;
    }
    & .section4__sub-title {
      height: 4vw;
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      color: black;
    }
  }

  //お問い合わせ
  #section5 {
    width: 100%;
    height: 135vw;
    margin: 4.5vw 0;
    position: relative;
    & .section5__box {
      background-color: #2b7270;
      width: 100%;
      height: 100%;
      transform: skewY(-5deg);
    }
    & .section5__title {
      height: 6vw;
      padding-top: 1vw;
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      color: white;
    }
    & .section5__sub-title {
      height: 5vw;
      position: absolute;
      top: 24%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      color: white;
    }
  }

  //お知らせ
  #section6 {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: 85vw;
    & .section6__title {
      padding-top: 4vw;
      height: 9vw;
    }
    & .section6__subtitle {
      height: 5vw;
    }
    & .section6__notification-box {
      font-size: 4vw;
      overflow: auto;
      width: 90vw;
      height: 60vw;
      padding: 1vw;
      margin-top: 5vw;
      color: black;
      background-color: white;
      line-height: 1.5em;
      text-align: center;
      display: inline-block;
      border-bottom: 1px solid #555;
      border-top: 1px solid #555;
    }
  }

  //事業内容の詳細ページのcss
  #section7{
    width: 100%;
    height: 160vw;
    background-image: url(./img/img-about-top.jpg);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-position: center left 40%;
  }
  //事業内容の詳細css-2
  #section8{
      display: inline-block;
      position: relative;
      width: 100%;
      max-width: 1200px;
      height: 270vw;
      //最初のタイトルとサービス説明css
      & .section8__title {
        padding-top: 4vw;
        height: 6vw;
      }
      //メッセージcss
      & .section8__message{
        padding-top: 2vw;
        height: 6vw;
      }
      & .section8__profile-box{
        width: 100%;
        height: 120vw;
        margin-top: 1vw;
      }
      & .section8__profile-img--box{
        width: 1000%;
        height: 50%;
        position: relative;
      }
      & .section8__profile-img{
        width: 45vw;
        height: 45vw;
        background-image: url(./img/img-profile.JPG);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center left 75%;
        position: absolute;
        top: 50%;
        left: 5%;
        border-radius: 50%;
        transform: translateY(-50%) translateX(-50%) rotate(15deg);
      }
      & .section8__profile--text{
        width: 100%;
        height: 50%;
        text-align: center;
        padding: 0 10vw;
      }
      & .section8__Business-content{
        height: 2vw;
        margin-top: 3vw;
      }
      & .section8__Business-content-box{
        border-bottom: 1.5px dashed #555;
        border-top: 1.5px dashed #555;
        height: 113vw;
        width: 100%;
        max-width: 950px;
        margin-top: 3vw;
        display: inline-block;
        position: relative;
        & .section8__Business-content-box--text1{
          position: absolute;
          bottom: 3%;
          left: 3%;
        }
        & .section8__Business-content-box--text2{
          position: absolute;
          bottom: 3.5%;
          left:42%;
        }
      }

      & .section8__Business-content-box1{
        border-bottom: 1.5px dashed #555;
        height: 15vw;
        width: 100%;
        display: inline-block;
        position: relative;
        & .section8__Business-content-box1--text1{
          position: absolute;
          bottom: 27%;
          left: 3%;
        }
        & .section8__Business-content-box1--text2{
          position: absolute;
          bottom: 27%;
          left: 42%;
        }
      }
      & .section8__Business-content-box2{
        border-bottom: 1.5px dashed #555;
        height: 15vw;
        width: 100%;
        display: inline-block;
        position: relative;
        & .section8__Business-content-box2--text1{
          position: absolute;
          bottom: 27%;
          left: 3%;
        }
        & .section8__Business-content-box2--text2{
          position: absolute;
          bottom: 27%;
          left: 42%;
        }
      }
      & .section8__Business-content-box3{
        border-bottom: 1.5px dashed #555;
        height: 15vw;
        width: 100%;
        display: inline-block;
        position: relative;
        & .section8__Business-content-box3--text1{
          position: absolute;
          bottom: 27%;
          left: 3%;
        }
        & .section8__Business-content-box3--text2{
          position: absolute;
          bottom: 50%;
          left: 42%;
        }
        & .section8__Business-content-box3--text3{
          position: absolute;
          bottom: 10%;
          left: 42%;
        }
      }
      & .section8__Business-content-box4{
        border-bottom: 1.5px dashed #555;
        height: 15vw;
        width: 100%;
        display: inline-block;
        position: relative;
        & .section8__Business-content-box4--text1{
          position: absolute;
          bottom: 27%;
          left: 3%;
        }
        & .section8__Business-content-box4--text2{
          position: absolute;
          bottom: 50%;
          left: 42%;
        }
        & .section8__Business-content-box4--text3{
          position: absolute;
          bottom: 10%;
          left: 42%;
        }
      }
      & .section8__Business-content-box5{
        border-bottom: 1.5px dashed #555;
        height: 15vw;
        width: 100%;
        display: inline-block;
        position: relative;
        & .section8__Business-content-box5--text1{
          position: absolute;
          bottom: 27%;
          left: 3%;
        }
        & .section8__Business-content-box5--text2{
          position: absolute;
          bottom: 50%;
          left: 42%;
        }
        & .section8__Business-content-box5--text3{
          position: absolute;
          bottom: 10%;
          left: 42%;
        }
      }
      & .section8__Business-content-box6{
        border-bottom: 1.5px dashed #555;
        height: 15vw;
        width: 100%;
        display: inline-block;
        position: relative;
        & .section8__Business-content-box6--text1{
          position: absolute;
          bottom: 27%;
          left: 3%;
        }
        & .section8__Business-content-box6--text2{
          position: absolute;
          bottom: 27%;
          left: 42%;
        }
      }
  }

  //お問い合わせ
  #section9{
    width: 100%;
    height: 160vw;
    background-image: url(images/img-contact.jpg);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-position: center left 40%;
  }

  //お問い合わせtitleとフォーム
  #section10{
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: 140vw;
    & .section10__title {
      padding-top: 4vw;
      height: 9vw;
    }
    & .section10__subtitle {
      height: 2vw;
    }
    & .section10__text{
      padding-top: 10vw;
      height: 35vw;
      width: 60vw;
      display: inline-block;
    }
  }



//フッターcss
#footer {
    position: relative;
    width: 100%;
    height: 11vh;
    background-color: #2b7270;
    & .footer__box {
      position: absolute;
      width: 100%;
      height: 40%;
      top: 30%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
    }
    & .footer__list {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    & li {
      font-size: 3.2vw;
      list-style: none;
      &:nth-child(1) {
        margin-right: 15%;
      }
      &:nth-child(3) {
        margin-left: 15%;
      }
      &:nth-child(4) {
        margin-left: 15%;
      }
    }
    & a {
      text-decoration: none;
      color: white;
    }
    & .footer__copyright {
      color: white;
      position: absolute;
      top: 80%;
      width: 50%;
      font-size: 3vw;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
    }
  }
}